@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Mochiy+Pop+One&display=swap');

*{
  margin: 0px;
  padding: 0px;
}


.Principale_DIV {
  display: flex;
  flex-direction: row;
  border: 3px black solid;
  align-items: center;
  width: 80%;
  margin: 1em;
}
.Principale_DIV_Featured {
  border-left: 5px green solid;
}

.left{
  width:20%;
  margin: 0em 0em;
  justify-content: center;}

.middle{
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: left;}

.right{
  width: max-content;
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.middle_high{
  display: flex;
  flex-direction: row
}



.middle_low{
  display: flex;
  flex-direction: row
}

